
 <nav class="navbar navbar-expand-lg navbar-dark bg-info collapse" id="btn1">
  <a class="navbar-brand">
    <img src="assets/images/download (1).png" 
    alt="img" width="35rem" height="35rem" class="img-fluid  align-top" 
    style="object-fit: cover; ">@Iam Angular
        
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContents"
    style="float: right;">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContents">
    <ul class="navbar-nav ml-auto" style="color: white;">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/tasks' style="color: white;">Go To Task <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white;">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/task2' style="color: white;">
          Services </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/task2' style="color: white;">
          <i class="fa fa-phone"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid w-100%">
  <div class="row ">
    <div class="col-sm-8 p-0" style="background-color:white; ">
      <img src="assets/Screenshot 2020-06-23 at 2.38.43 PM.png" class="img-fluid p-0" style=" object-fit: contain;">
    </div>
    <div class="col-sm-4" style="background-color:lightblue; display: flex;
        justify-content: center;
        align-items: center">
      <div>
        <small> Reliable & Accesable to all </small> <br>
        <h1 style="color: #064848; font-size: 30px;">
          Alice Hope MD <br>Oniline Medical<br> Services <br>
          <button class="btn btn-primary">Book an Online Appointent</button>
        </h1>
      </div>
    </div>
  </div>
</div>

 <h4 style="text-align: center; margin-top: 2rem; color:#064848; font-size: 30px;">About</h4>
  <hr style="border-width:5px; width: 6rem; text-align: center; background-color: #064848;">

  <div class="card-group">
    <div class="card  " style="background-color:snow;">
      <div class="card-body ">
        <p class="card-text text-secondary p-3 m-3">
          Some text inside the first card
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incid sit amet consectetur adipisicing elit. Saepe totam 
          sit recusandae officia amet, animi neque esit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incid sit amet consectetur adipisicing elit. Saepe totam 
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          hae aperiam qui quos 
          harum quae veniam consectetur corruprror labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incid sit amet consectetur adipisicing elit. Saepe totam 
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrup</p>
      </div>
    </div>
    <div class="card " style="background-color:snow;">
      <div class="card-body ">
       
        <blockquote>  
        <p class="card-text p-3 m-3  text-secondary" >
       
             sit amet consectetur adipisicing elit. Saepe totam 
          Lorem ipsum, dolor 
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incid sit amet consectetur adipisicing elit. Saepe totam 
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incid sit amet consectetur adipisicing elit. Saepe totam 
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incid sit amet consectetur adipisicing elit. Saepe totam 
          sit recusandae officia amet, animi neque error labore aperiam qui quos 
          harum quae veniam consectetur corrupti mollitia nihil quaerat incidunt.
          
        </p>
      </blockquote>
      </div>
    </div>
    <div class="card" style="background-color:snow;">
      <div class="card-body ">
        <div class="card-img p-3 m-3">
          <img src="assets\Screenshot 2020-06-24 at 11.18.33 AM.png" 
          alt="img-fluid"
          class="img-fluid" style="width: 100vw ">

        </div>
      </div>
    </div>
    </div>
  
 

  <div id="news1" style="background-color: #064848;">
    <h1 style="color: white; text-align: center; padding-top: 60px;">How Can I Help You</h1>
    <hr style="border-width:5px; width: 6rem; text-align: center; background-color: white;">
    <h2 style="color: white; text-align: center; margin-top: 50px;">Online Services</h2>
    <div class="col-sm-12 row" style="justify-content: center; align-items: center;">

      <div class="card-columns" style="justify-content: center; display: flex; flex-wrap:nowrap;">
        <div class="card bg-primary col-sm-6" style="margin-left: 10px;">
          <div class="card-body text-center">
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>
          </div>
        </div>
        <div class="card bg-warning col-sm-6" style="margin-left: 20px;">
          <div class="card-body text-center">
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 row" style="justify-content: center; align-items: center;">

      <div class="card-columns" style="justify-content: center; display: flex; flex-wrap:nowrap;">
        <div class="card bg-primary col-sm-6" style="margin-left: 10px;">
          <div class="card-body text-center">
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>
          </div>
        </div>
        <div class="card bg-warning col-sm-6" style="margin-left: 20px;">
          <div class="card-body text-center">
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12 row" style="justify-content: center; align-items: center; margin-top: 40px;">
      <div style="display: flex; justify-content: center; padding-bottom: 50px; margin-top: 15px;">
        <button class="btn btn-danger">Book an Online
          Appointent</button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
  <div class="row class-sm-12" style="margin-top: 50px; background-color:#064848 ">
    <div class="col-sm-6 ">
      <div class="col-sm-12  my-4">
<h1 style="font-size: 30px; justify-content: center;" class="text-secondary m-auto d-flex">
  <b> Working hours</b>
</h1>
<br>
<table class="mx-5 my-5 d-flex" style="justify-content: center; text-align: center; justify-items: center;">
    <tbody>
<tr><td><h4 class="row"> 
   <p class="text-info"> Monday-Friday: </p>&nbsp;&nbsp;  09:00 Am to 07:00 Pm </h4> </td></tr>
<tr><td><h4 class="row">
   <p class="text-info">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Saturday : </p> 
   &nbsp;&nbsp; 
  09:00 Am to 04:00 Pm</h4> </td> </tr>
  <tr><td>
<h4 class="row">
<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sunday :</p>
 &nbsp;&nbsp;&nbsp;&nbsp; Closed  </h4>
 </td></tr>
            </tbody>
          </table>
  
      </div>
    </div>

      <div class="col-md-6 my-3">
    <div class="col-md-6 d-flex" style="justify-content: center; text-align: center; justify-items: center;">
  <h3 class="my-3  " style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:thistle;">
     <b>
For More Details Please Register Here  </b></h3>  
               
          </div>

              
                <br>
                <form class="mr-4">
                  <div class="form-group row ">
                    <label for="nm" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="nm" value="" placeholder="Name Here.....">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="mail1" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="mail1" placeholder="@Mail Here">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="numb" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="numb" placeholder="Numbr">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="pwd" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="pwd" placeholder="Password">
                    </div>
                  </div>
                  <div class="btn-group  d-flex" style="justify-content: center; align-items: center;">
                    <button class="btn btn-danger col-sm-4 " type="button">Submit</button>

                  </div>

                </form>

      </div>
    </div>   
      </div>
    
